@media screen and (max-width:767px) {
	.desktop {
		height: 70vh;
	}
/*	experience-area resposive hare*/
	.logo-item h5 {
		font-size: 10px;
	}
	.logo-item img {
	width: 90%;
	}
	.camos-img img {
	width: 100%;
	padding-right: 0px;
	}
	.ume-title {
		left: 10px;
	}
	.uem-park-img {
		text-align: center;
	}
	.wapon-images {
	text-align: center;
	}
	.wapon-images img {
		width: 100%;
	}
	
	.m-ds-n {
		display: none;
	}
	.ume-text,
	.ume-title {
		margin-top: 25px;
	}
	.section-sr-item,
	.section-sr-item-2,
	.title {
		margin-top: 25px;
	}
	.gamemode {
		padding-top: 10px;
	}
	.copyright {
	display: block;
	text-align: center;
	}
	.footer-btn {
		display: block;
		text-align: center;
	}
	.header-dwn-btn {
		display: inline-block;
	}
	.discord-join {
		display: inline-block;
	}
}