body {
	background: #151515;
}
@font-face {
    font-family: 'Berlin Sans FB Demi';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/BRLNSDB.woff) format('woff');
    }

/*header-area style start hare*/
.header-area {
	background: #000;
}
.header-dwn-btn {
	margin-right: 30px;
	background: #1E1E1E;
	padding: 5px 10px;
	border-radius: 5px;
}
.header-dwn-btn p {
	display: inline-block;
	color: #fff;
	padding-left: 5px;
	font-family: Inter;
	margin: auto;

}
.discord-join {
	margin-right: 20px;
	background: #1E1E1E;
	padding: 5px 10px;
	border-radius: 5px;
}
.discord-join p {
	display: inline-block;
	color: #fff;
	font-family: inter;
	padding-left: 5px;
	margin: auto;
}
/*header style end hare*/
/*feature area style start hare*/
.feature-area {
	background: url(../images/feature-area.png) no-repeat;
	background-size: cover;
	height: 100vh;
	border-bottom: 2px solid #BD0404;
}

.feature-item h3 {
	color: #BE0404;
	font-family: Berlin Sans FB Demi;
	font-weight: 700;
	font-size: 30px;
}
.feature-item h2 {
	color: #fff;
	font-family: Berlin Sans FB Demi;
	font-size: 40px;
	font-weight: 700;
}
.feature-item p {
	color: #FFF;
	font-family: Inter;
	font-size: 17px;
	font-weight: 400;
	line-height: 170%; 
	padding: 20px 0px;
}
.sr-item1 {
	width: 195px;
	height: 48px;
	border-radius: 5px;
	background: #A11515;
}
.sr-item2 {
	width: 140px;
	height: 48px;
	border-radius: 5px;
	background: #A11515;
}
.sr-item1 img,
.sr-item2 img {
	display: inline-block;
	margin-bottom: auto;
}
.sr-item1 p,
.sr-item2 p {
	display: inline-block;
	padding: 0;
	
}
.sr-items a{
	display: inline-block;
}
.sr-items >p {
	font-size: 20px;
	padding: 5px 10px;
}
.span-1 {
	display: inline-block;
	width: 40%;
	height: 1px;
	background: #fff;
	margin-bottom: 5px;
}
.side-img img {
	width: 90%;
}
.line i {
	padding: 5px;
	margin-top: 10px;
	font-size: 20px;
	color: #fff;
}
/*feature area style end hare*/

.desktop {
	background: #1E1E1E;
	margin-top: 50px;
	height: 250px;
	overflow: hidden;
}
.desktop-cnt {
	padding-top: 20px;
	padding-left: 20px;
}
.desktop-cnt h3 {
	color: #fff;
	font-family: Berlin Sans FB Demi;
	font-size: 42px;
	font-weight: 700;
}
.text-red {
	color: #CB0404;
}
.desktop-cnt p {
	font-family: Inter;
	padding: 0;
}
.desktop-img img {
	width: 75%;
	margin-top: -30px;
	margin-left: 20px;
}

/* desktop style end hare*/
/* level area style start hare*/
.level-area {
	padding-top: 60px;
}
.level-title {
	color: #FFF;
	font-family: Berlin Sans FB Demi;
	font-size: 45px;
}
.level-content {
	background: #1E1E1E;
	position: relative;
}
.rectagle {
	width: 27px;
	height: 27px;
	background: #CB0404;
	position: absolute;
	top: -15px;
	left: -15px;
}
.level-content p {
	color: #FFF;
	text-align: center;
	font-family: Berlin Sans FB Demi;
	font-size: 32px;
	padding-top: 10px;
}
.lvl-items p {
	color: #FFF;
	font-family: Inter;
	font-size: 12px;
}
.text-1 h4 {
	color: #FFF;
	font-family: Berlin Sans FB Demi;
	font-size: 20px;
}
.text-1 p {
	color: #FFF;
	font-family: Inter;
	font-weight: 400;
}
.text-1 span {
	font-size: 17px;
}
/* level area style end hare*/
.prestige-content h4 {
	color: #FFF;
	font-family: Berlin Sans FB Demi;
	font-size: 20px;
	font-weight: 700;
}
.prestige-content p {
	color: #FFF;
	font-family: Inter;
}
.prestige-content span {
	font-size: 17px;
	font-weight: 800;
}
.prestige-master h4 {
	margin: 0;
	color: #FF7A00;
	font-family: Inter;
	font-size: 9px;
	font-weight: 700;
	padding-top: 10px;
}
.prestige-master p {
	color: #A11515;
	font-family: Inter;
	font-size: 11px;
	font-weight: 700;
}
.prestige-master img {
	width: 100%;
}
/*prestige-master area style end hare*/
.line-1 {
	max-width: 90%;
	height: 2px;
	stroke-width: 2px;
	background: #A11515;
	position: relative;
}

.experience-text h4 {
	color: #FFF;
	font-family: Berlin Sans FB Demi;
	font-size: 41px;
	font-weight: 700;
}
.experience-text p {
	color: #FFF;
	font-family: Inter;
	font-size: 16px;
	line-height: 150%;
}
.logo-item img {
	width: 100%;
	padding: 0;
	margin: 0;
}
.logo-item h5 {
	margin-top: -15px;
	color: #6C71DF;
	font-family: Berlin Sans FB Demi;
	text-transform: uppercase;
}

/*experience-area style end hare*/
/*Milestones area style start hare*/
.milestones-logo {
	background: #1e1e1e;
}
.logo-item2 p {
	color: #FFF;
	font-family: Inter;
	font-size: 17px;
}
.milestones-content h4 {
	color: #FFF;
	font-family: Berlin Sans FB Demi;
	font-size: 20px;
}
.milestones-content {
	color: #FFF;
	font-family: Inter;
	font-size: 20px;
}
.milestones-content span {
	font-weight: 800;
	font-size: 21px;
}
/*Milestones area style end hare*/
/*section-content area style start hare*/

.section-sr-item,
.section-sr-item-2 {
	background: #1e1e1e;
	position: relative;
}
.section-sr-item {
	height: 54vh;
}
.section-sr-item,
.section-sr-item-2 p {
	color: #FFF;
	font-family: Inter;
	font-size: 17px;
	line-height: 190%;
	padding-left: 10px;
	padding-top: 10px;
}
.section-sr-item span {
	font-size: 18px;
	font-weight: 800;
}
.title {
	background: #CB0404;
	display: inline-block;
	padding: 5px 10px;
	border-radius: 5px;
	position: absolute;
	top: -20px;
	left: 0px;
}
.title h4 {
	color: #FFF;
	font-family: Berlin Sans FB Demi;
	font-size: 20px;
	text-transform: uppercase;
	margin: 0;
}
.text-color-1 {
	color: #953BAA;
}
.text-color-2 {
	color: #D06322;
}
.section-content {
	border-bottom: 1px solid #CB0404;
}
/*section-content area style end hare*/
.punch-text h4 {
	color: #fff;
	font-family: Berlin Sans FB Demi;
	font-size: 40px;
}
.punch-text p {
	color: #FFF;
	font-family: Inter;
	line-height: 190%;
}
.punch-logo img {
	width: 100%;
	padding: 20px;
}
.color-text p {
	display: inline-block;
	padding-right: 10px;
	margin-left: auto;
}
.text-color-3 {
	color: #FF85DE;
}
.text-color-4 {
	color: #22EAA6;
}
.color-text {
	padding-bottom: 40px;

}
.border-line {
	width: 90%;
	height: 10px;
	border-top: 2px solid #C90404;
	border-right: 2px solid #C90404;
}
/* section punch area style end hare*/
/*wapon level style start hare*/
.wapon-level-content {
	padding-top: 40px;
}
.wapon-images {
	text-align: right;
}
.wapon-level-content h4 {
	color: #FFF;
	font-family: Berlin Sans FB Demi;
	font-size: 46px;
}
.wapon-level-content p {
	padding-top: 20px;
	color: #FFF;
	font-family: Inter;
	font-size: 16px;
	line-height: 190%;
}
.awsome-camos {
	padding: 20px;
	background: #1e1e1e;
	margin-top: 50px;
}
.awsome-camos h4 {
	color: #FFF;
	font-family: Berlin Sans FB Demi;
	padding-top: 20px;
}
.camos-img img {
	width: 100%;
	padding-right: 5px;
}
/*wapon level style end hare*/

/*seection-stats style hare*/

.seection-stats {
	padding-top: 40px;
}
.stats-content {
	background: #1e1e1e;
}
.stats-text p {
	color: #FFF;
	font-family: Inter;
	font-size: 15px;
	line-height: 150%;
}
.chart-img {
	height: 75vh;
	display: flex;
	align-items: center;
}
.stats-text2 p {
	color: #FFF;
	font-family: Inter;
	font-size: 14px;
	line-height: 140%;
}
.stats-items h4 {
	color: #fff;
	font-family: Berlin Sans FB Demi;
	font-size: 46px;
}
.stats-items p {
	color: #FFF;
	font-family: Inter;
	line-height: 190%;
	padding-top: 20px;
}
/*seection-stats style end hare*/
/*section deployment style start hare*/

.deployment-content {
	padding-top: 30px;
}
.deployment-content h4 {
	color: #FFF;
	font-family: Berlin Sans FB Demi;
	font-size: 32px;
	text-transform: uppercase;
}
.deployment-content,
.deployment-img p {
	color: #FFF;
	font-family: Inter;
	line-height: 150%;
	padding-top: 10px;
	padding-bottom: 5px;
}
.deployment-img img {
	width: 100%;
}
.deployment-img {
	padding-top: 30px;
}
.dep-text {
	padding-top: 80px;
}
.deployment-img h4 {
	color: #FFF;
	font-family: Berlin Sans FB Demi;
	font-size: 25px;
	text-transform: uppercase;
}
/*deployment area style end hare*/
/*uem park area style start hare*/

.uem-park-content h4 {
	color: #FFF;
	font-family: Berlin Sans FB Demi;
	font-size: 40px;
}
.uem-park-content h3 {
	color: #FFF;
	font-family: Berlin Sans FB Demi;
	font-size: 20px;
	text-transform: uppercase;
	padding-top: 20px;
}
.uem-park-content p {
	color: #FFF;
	font-family: Inter;
	line-height: 190%;
}
.uem-park-img img {
	width: 80%;
}
.ume-text {
	background: #1e1e1e;
	padding: 10px;
	position: relative;
}
.ume-text p {
	color: #FFF;
	font-family: Inter;
	line-height: 190%;
	padding: 10px;
}
.ume-title {
	background: #A20505;
	padding: 5px 20px;
	display: inline-block;
	border-radius: 10px;
	position: absolute;
	top: -17px;
	left: -3px;
}
.ume-title h4 {
	color: #FFF;
	font-family: Berlin Sans FB Demi;
	font-size: 18px;
	margin: auto;
	text-transform: uppercase;
}
/*uem-park area style end hare*/
/*sattings area style hare*/
.sattings-area {
	border-top: 2px solid #CB0404;
}
.mutator-sattings {
	padding: 20px;
	background: #1e1e1e;
}
.mutator-sattings h4 {
	color: #FFF;
	font-family: Berlin Sans FB Demi;
	text-transform: uppercase;
	text-align: center;
}
.mutator img {
	width: 100%;
}
.mutator {
	color: #FFF;
	font-family: Inter;
}
.mutator-sattings {
	position: relative;
}
.rectagle1 {
	width: 27px;
	height: 27px;
	background: #CB0404;
	position: absolute;
	top: -20px;
	right: 0px;
}
.gamemode {
	padding-left: 20px;
}
.gamemode h4 {
	color: #FFF;
	font-family: Berlin Sans FB Demi;
}
.gamemode p {
	padding-top: 20px;
	color: #FFF;
	font-family: Inter;
	line-height: 190%;
}
/*sattings area style end hare*/
/*difficulty style start hare*/
.difficulty h4 {
	color: #FFF;
	font-family: Berlin Sans FB Demi;
	font-size: 32px;
}
.difficulty p {
	padding-top: 20px;
	color: #FFF;
	font-family: Inter;
	font-size: 16px;
	line-height: 30px;
}
.difficulty-img {
	background: #1e1e1e;
	padding: 20px;
}
.difficulty-img h4 {
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	font-family: Berlin Sans FB Demi;
}
.difficutes img {
	width: 100%;
}
.difficutes p {
	color: #FFF;
	text-align: center;
	font-family: Inter;
}
/*difficulty style end hare*/
/*much more area style hare*/
.much-more-content h4 {
	color: #FFF;
	font-family: Berlin Sans FB Demi;
	font-size: 40px;
}
.much-more-content p {
	color: #FFF;
	font-family: Inter;
	line-height: 30px;
}
.more-img img {
	width: 100%;
	padding-top: 20px;
}
/*much-more style end hare*/
/*playing area style start hare*/

.playing-content {
	background: #1e1e1e;
}
.playing-img img {
	width: 100%;
}
.playing-text h4 {
	color: #fff;
	font-family: Berlin Sans FB Demi;
	font-size: 40px;
	text-transform: uppercase;
	padding-top: 20px;
}
.playing-text > p {
	color: #fff;
	padding-top: 20px;
	font-family: Inter;

}
/*playing area style end hare*/
/*footer area start hare */
.fooder-area {
	background: #000;
}
.fooder-area p {
	display: inline-block;
}
.copyright {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer-btn {
	display: flex;
}